h1 {
    text-align: center;
}

div {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 60%;
    text-align: center;
}

div ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    column-rule-style: solid;
    column-rule-width: 2px;
    column-rule-color: black;
}